This notebook shows two simple examples of Collaborative Filtering using user-based and item-based approaches. The source data is from [this]('http://files.grouplens.org/datasets/movielens/ml-latest-small.zip') link.

### Import packages

In [1]:
import pandas as pd
from sklearn.metrics.pairwise import pairwise_distances 
import random

### Set-up

In [2]:
# Location and filenames of the input data

ratings_file = 'https://www.dropbox.com/s/g294u2bqsuny36p/ratings.csv?dl=1'

movies_file = 'https://www.dropbox.com/s/yk30jezunlsb72i/movies.csv?dl=1'

random.seed(5)

### Read data

In [3]:
# Ratings data set

ratings_df = pd.read_csv(ratings_file)

ratings_df.shape

(100836, 4)

In [4]:
ratings_df.head()

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

In [5]:
# Movies data set

movies_df = pd.read_csv(movies_file)

movies_df.shape

(9742, 3)

In [6]:
movies_df.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

### Prepare data

Let's drop columns that we don't need, and then combine those two datasets.

In [7]:
ratings_df = ratings_df.drop('timestamp', axis=1)

movies_df = movies_df.drop('genres', axis=1)

df = ratings_df.merge(movies_df, on='movieId', how='inner')

df.shape

(100836, 4)

In [8]:
df.head()

   userId  movieId  rating             title
0       1        1     4.0  Toy Story (1995)
1       5        1     4.0  Toy Story (1995)
2       7        1     4.5  Toy Story (1995)
3      15        1     2.5  Toy Story (1995)
4      17        1     4.5  Toy Story (1995)

In [9]:
df.dtypes

userId       int64
movieId      int64
rating     float64
title       object
dtype: object

### Matrix representation

Collaborative Filtering requires the data to be in a user-item matrix format.

In [10]:
user_item_df = df.pivot_table(index='userId', columns='title', values='rating')

user_item_df.shape

(610, 9719)

In [11]:
user_item_df.head()

title,'71 (2014),'Hellboy': The Seeds of Creation (2004),'Round Midnight (1986),'Salem's Lot (2004),'Til There Was You (1997),'Tis the Season for Love (2015),"'burbs, The (1989)",'night Mother (1986),(500) Days of Summer (2009),*batteries not included (1987),...,Zulu (2013),[REC] (2007),[REC]² (2009),[REC]³ 3 Génesis (2012),anohana: The Flower We Saw That Day - The Movie (2013),eXistenZ (1999),xXx (2002),xXx: State of the Union (2005),¡Three Amigos! (1986),À nous la liberté (Freedom for Us) (1931)
userId,,,,,,,,,,,,,,,,,,,,,
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

For the purpose of this analysis, we will restrict the number of movies to 500.

In [12]:
# Take the most rated top 500 movies

top_500_movies = df['title'].value_counts()[:500].index

In [13]:
# Subset the uset_item_df dataframe by taking only those top 500 titles (columns)

user_item_df = user_item_df[top_500_movies]

user_item_df.head()

title,Forrest Gump (1994),"Shawshank Redemption, The (1994)",Pulp Fiction (1994),"Silence of the Lambs, The (1991)","Matrix, The (1999)",Star Wars: Episode IV - A New Hope (1977),Jurassic Park (1993),Braveheart (1995),Terminator 2: Judgment Day (1991),Schindler's List (1993),...,Lethal Weapon 2 (1989),Phenomenon (1996),Mortal Kombat (1995),Gran Torino (2008),Lethal Weapon 3 (1992),Fear and Loathing in Las Vegas (1998),M*A*S*H (a.k.a. MASH) (1970),"Me, Myself & Irene (2000)",Beverly Hills Cop (1984),Blue Velvet (1986)
userId,,,,,,,,,,,,,,,,,,,,,
1,4.0,NaN,3.0,4.0,5.0,5.0,4.0,4.0,NaN,5.0,...,NaN,NaN,NaN,NaN,NaN,NaN,5.0,NaN,NaN,NaN
2,NaN,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,1.0,5.0,1.0,5.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0
5,NaN,3.0,5.0,NaN,NaN,NaN,NaN,4.0,3.0,5.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [14]:
# Reset index to remove the multi-level index

user_item_df = user_item_df.reset_index()

user_item_df.head()

title,userId,Forrest Gump (1994),"Shawshank Redemption, The (1994)",Pulp Fiction (1994),"Silence of the Lambs, The (1991)","Matrix, The (1999)",Star Wars: Episode IV - A New Hope (1977),Jurassic Park (1993),Braveheart (1995),Terminator 2: Judgment Day (1991),...,Lethal Weapon 2 (1989),Phenomenon (1996),Mortal Kombat (1995),Gran Torino (2008),Lethal Weapon 3 (1992),Fear and Loathing in Las Vegas (1998),M*A*S*H (a.k.a. MASH) (1970),"Me, Myself & Irene (2000)",Beverly Hills Cop (1984),Blue Velvet (1986)
0,1,4.0,NaN,3.0,4.0,5.0,5.0,4.0,4.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,5.0,NaN,NaN,NaN
1,2,NaN,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4,NaN,NaN,1.0,5.0,1.0,5.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0
4,5,NaN,3.0,5.0,NaN,NaN,NaN,NaN,4.0,3.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Let's take a quick look at the top rated movies.

In [15]:
avg_ratings = user_item_df.mean().sort_values(ascending=False)

avg_ratings.head(20)

title
userId                                                                         305.500000
Shawshank Redemption, The (1994)                                                 4.429022
Godfather, The (1972)                                                            4.289062
Fight Club (1999)                                                                4.272936
Cool Hand Luke (1967)                                                            4.271930
Dr. Strangelove or: How I Learned to Stop Worrying and Love the Bomb (1964)      4.268041
Rear Window (1954)                                                               4.261905
Godfather: Part II, The (1974)                                                   4.259690
Departed, The (2006)                                                             4.252336
Goodfellas (1990)                                                                4.250000
Casablanca (1942)                                                                4.240000
Dark Knight, The (2008)                                                          4.238255
Usual Suspects, The (1995)                                                       4.237745
Princess Bride, The (1987)                                                       4.232394
Star Wars: Episode IV - A New Hope (1977)                                        4.231076
Schindler's List (1993)                                                          4.225000
Apocalypse Now (1979)                                                            4.219626
American History X (1998)                                                        4.217054
Star Wars: Episode V - The Empire Strikes Back (1980)                            4.215640
Chinatown (1974)                                                                 4.211864
dtype: float64

Let's check the ratings of a specific movie.

In [16]:
avg_ratings[avg_ratings.index.str.contains('Groundhog')]

title
Groundhog Day (1993)    3.944056
dtype: float64

What % of this entire population saw this movie?

In [17]:
user_item_df['Groundhog Day (1993)'].notnull().sum() / len(user_item_df)

0.23442622950819672

How many users have *not* watched this movie?

In [18]:
user_item_df['Groundhog Day (1993)'].isnull().sum()

467

### User-based Collaborative Filtering

Let's randomly choose one user who has not watched *Groundhog Day.* We will then proceed to predict his/her rating for this movie.

In [19]:
target_movie = 'Groundhog Day (1993)'

# First take all users who have not watched this movie

target_users = user_item_df[user_item_df[target_movie].isnull()]

target_users.shape

(467, 501)

In [20]:
# Randomly select one user from this group

target_user = random.sample(list(target_users.index), 1)

target_user

[418]

This is our **target** user, for whom we wish to predict the rating for *Groundhog Day*.

Let's calculate the distance from this user to all other users.

In [21]:
movies_rated_by_target_user = user_item_df[user_item_df['userId'] == target_user].dropna(axis=1)

movies_rated_by_target_user.T

                                                      417
title
userId                                              418.0
Forrest Gump (1994)                                   4.0
Shawshank Redemption, The (1994)                      5.0
Pulp Fiction (1994)                                   4.5
Silence of the Lambs, The (1991)                      4.0
Schindler's List (1993)                               4.5
Fight Club (1999)                                     5.0
Usual Suspects, The (1995)                            4.5
Lord of the Rings: The Fellowship of the Ring, ...    5.0
Lord of the Rings: The Two Towers, The (2002)         5.0
Lord of the Rings: The Return of the King, The ...    5.0
Back to the Future (1985)                             4.5
Mission: Impossible (1996)                            0.5
Memento (2000)                                        3.5
Mask, The (1994)                                      0.5
Die Hard (1988)                                       4.0
Mrs. Doubtfire (1993)                                 3.5
Inception (2010)                                      4.0
Good Will Hunting (1997)                              5.0
Titanic (1997)                                        3.5
Monty Python and the Holy Grail (1975)                5.0
Eternal Sunshine of the Spotless Mind (2004)          5.0
Truman Show, The (1998)                               4.0
Minority Report (2002)                                2.0
Clockwork Orange, A (1971)                            4.5
Green Mile, The (1999)                                4.5
Ferris Bueller's Day Off (1986)                       4.5
Donnie Darko (2001)                                   5.0
Taxi Driver (1976)                                    4.5
Harry Potter and the Chamber of Secrets (2002)        4.5
...                                                   ...
Dead Poets Society (1989)                             5.0
Blues Brothers, The (1980)                            5.0
Psycho (1960)                                         4.5
Graduate, The (1967)                                  4.5
Face/Off (1997)                                       0.5
Little Miss Sunshine (2006)                           4.5
Lost in Translation (2003)                            5.0
Slumdog Millionaire (2008)                            4.0
Erin Brockovich (2000)                                3.0
Avengers, The (2012)                                  0.5
Die Hard 2 (1990)                                     4.0
Honey, I Shrunk the Kids (1989)                       0.5
Shutter Island (2010)                                 4.0
School of Rock (2003)                                 3.5
Bridget Jones's Diary (2001)                          0.5
Charlie and the Chocolate Factory (2005)              2.5
Con Air (1997)                                        0.5
To Kill a Mockingbird (1962)                          5.0
Harry Potter and the Order of the Phoenix (2007)      3.5
Harry Potter and the Half-Blood Prince (2009)         3.0
King's Speech, The (2010)                             4.5
Social Network, The (2010)                            4.5
Goonies, The (1985)                                   4.0
Cool Hand Luke (1967)                                 5.0
The Hunger Games (2012)                               4.0
Kung Fu Panda (2008)                                  0.5
Mulholland Drive (2001)                               3.0
Harry Potter and the Deathly Hallows: Part 2 (2...    4.5
The Imitation Game (2014)                             4.5
Sixteen Candles (1984)                                3.5

[67 rows x 1 columns]

In [22]:
# All movies rated by the target user 
rated_movies_by_target_user = movies_rated_by_target_user.columns

# Create a mask to select all users but the target user, and users who have rated the target movie
mask = (user_item_df['userId'] != target_user) & (user_item_df[target_movie].notnull())

# Apply the filter -- take all users ID's that satisfy this criteria
user_search_space = user_item_df[mask]['userId'].values

# Take all users from this search space, and get their ratings for all movies that our target user rated
X = user_item_df[mask][rated_movies_by_target_user].fillna(0)

# Take the target use, and get their ratings for all movies sans the target movie
y = movies_rated_by_target_user

len(X), len(y)

(143, 1)

In [23]:
user_dist = pairwise_distances(X, y, metric='cosine')

user_dist[:10]

array([[0.91273008],
       [0.67164135],
       [0.07650625],
       [0.27394509],
       [0.19021326],
       [0.24306607],
       [0.13243567],
       [0.03873415],
       [0.07394154],
       [0.07372429]])

Find the use that is "closest" to the target user.

In [24]:
min_dist = [user_dist[user_dist == user_dist.min()]][0][0]

min_dist

0.0005244172347244058

In [25]:
import numpy as np

closest_user = user_search_space[np.argmin(user_dist)]

closest_user

414

In [26]:
user_item_df[user_item_df['userId'] == closest_user].T[:7]

                                             413
title
userId                                     414.0
Forrest Gump (1994)                          5.0
Shawshank Redemption, The (1994)             5.0
Pulp Fiction (1994)                          5.0
Silence of the Lambs, The (1991)             4.0
Matrix, The (1999)                           5.0
Star Wars: Episode IV - A New Hope (1977)    5.0

In [27]:
user_item_df[user_item_df['userId'] == target_user].T[:7]

                                             417
title
userId                                     418.0
Forrest Gump (1994)                          4.0
Shawshank Redemption, The (1994)             5.0
Pulp Fiction (1994)                          4.5
Silence of the Lambs, The (1991)             4.0
Matrix, The (1999)                           NaN
Star Wars: Episode IV - A New Hope (1977)    NaN

In [28]:
predicted_rating = user_item_df[user_item_df['userId'] == closest_user][target_movie]

predicted_rating

413    4.0
Name: Groundhog Day (1993), dtype: float64

This is a simple demonstartion of how user-user distance can be used to predict ratings (and recommend movies). This approach can be extended further to improve results.

### Item-based Collaborative Filtering

In [29]:
# List of all movies other than the target movie
all_other_movies = [col for col in user_item_df.columns if col not in (target_movie, 'userId')]

X = user_item_df[all_other_movies].fillna(0)

y = user_item_df[target_movie].fillna(0)

In [30]:
item_dist = pairwise_distances(X.T, y.values.reshape(-1,610), metric='cosine')

item_dist[:10]

array([[0.4774823 ],
       [0.50736902],
       [0.52567167],
       [0.53229855],
       [0.46384951],
       [0.43052535],
       [0.52281557],
       [0.59504138],
       [0.54181274],
       [0.55983412]])

In [31]:
min_item_dist = [item_dist[item_dist == item_dist.min()]][0][0]

min_item_dist

0.38764197403915945

In [32]:
# List of all movies sorted by distance (shortest first)

[title for d, title in sorted(zip(item_dist, all_other_movies))][:10]

['Back to the Future (1985)',
 'Monty Python and the Holy Grail (1975)',
 'Men in Black (a.k.a. MIB) (1997)',
 'Princess Bride, The (1987)',
 "Ferris Bueller's Day Off (1986)",
 'Being John Malkovich (1999)',
 'Ghostbusters (a.k.a. Ghost Busters) (1984)',
 'Star Wars: Episode VI - Return of the Jedi (1983)',
 'Indiana Jones and the Last Crusade (1989)',
 'Star Wars: Episode IV - A New Hope (1977)']

In [33]:
closest_item = all_other_movies[np.argmin(item_dist)]

closest_item

'Back to the Future (1985)'

Calculate the averate rating for this title. This will become our predicted rating for *Groundhog Day*.

In [34]:
predicted_rating_2 = user_item_df[closest_item].mean()

round(predicted_rating_2, 1)

4.0

This is a simple demonstartion of how item-item distance can be used to predict ratings (and recommend movies). This approach can be extended further to improve results.