This notebook shows two simple examples of Collaborative Filtering using user-based and item-based approaches. The source data is from [this]('http://files.grouplens.org/datasets/movielens/ml-latest-small.zip') link.

### Import packages

In [1]:
import pandas as pd
from sklearn.metrics.pairwise import pairwise_distances 
import random

### Set-up

In [2]:
# Location and filenames of the input data

ratings_file = 'https://www.dropbox.com/s/g294u2bqsuny36p/ratings.csv?dl=1'

movies_file = 'https://www.dropbox.com/s/yk30jezunlsb72i/movies.csv?dl=1'

random.seed(5)

### Read data

In [3]:
# Ratings data set

ratings_df = pd.read_csv(ratings_file)

ratings_df.shape

(100836, 4)

In [4]:
ratings_df.head()

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

In [5]:
# Movies data set

movies_df = pd.read_csv(movies_file)

movies_df.shape

(9742, 3)

In [6]:
movies_df.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

### Prepare data

Let's drop columns that we don't need, and then combine those two datasets.

In [7]:
ratings_df = ratings_df.drop('timestamp', axis=1)

movies_df = movies_df.drop('genres', axis=1)

df = ratings_df.merge(movies_df, on='movieId', how='inner')

df.shape

(100836, 4)

In [8]:
df.head()

   userId  movieId  rating             title
0       1        1     4.0  Toy Story (1995)
1       5        1     4.0  Toy Story (1995)
2       7        1     4.5  Toy Story (1995)
3      15        1     2.5  Toy Story (1995)
4      17        1     4.5  Toy Story (1995)

In [9]:
df.dtypes

userId       int64
movieId      int64
rating     float64
title       object
dtype: object

### Matrix representation

Collaborative Filtering requires the data to be in a user-item matrix format.

In [10]:
user_item_df = df.pivot_table(index='userId', columns='title', values='rating')

user_item_df.shape

(610, 9719)

In [11]:
user_item_df.head()

title,'71 (2014),'Hellboy': The Seeds of Creation (2004),'Round Midnight (1986),'Salem's Lot (2004),'Til There Was You (1997),'Tis the Season for Love (2015),"'burbs, The (1989)",'night Mother (1986),(500) Days of Summer (2009),*batteries not included (1987),...,Zulu (2013),[REC] (2007),[REC]² (2009),[REC]³ 3 Génesis (2012),anohana: The Flower We Saw That Day - The Movie (2013),eXistenZ (1999),xXx (2002),xXx: State of the Union (2005),¡Three Amigos! (1986),À nous la liberté (Freedom for Us) (1931)
userId,,,,,,,,,,,,,,,,,,,,,
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

For the purpose of this analysis, we will restrict the number of movies to 500.

In [11]:
# Take the most rated top 500 movies

top_500_movies = df['title'].value_counts()[:500].index

In [13]:
top_500_movies

Index(['Forrest Gump (1994)', 'Shawshank Redemption, The (1994)',
       'Pulp Fiction (1994)', 'Silence of the Lambs, The (1991)',
       'Matrix, The (1999)', 'Star Wars: Episode IV - A New Hope (1977)',
       'Jurassic Park (1993)', 'Braveheart (1995)',
       'Terminator 2: Judgment Day (1991)', 'Schindler's List (1993)',
       ...
       'Basic Instinct (1992)', 'Rumble in the Bronx (Hont faan kui) (1995)',
       'Lethal Weapon 3 (1992)', 'Blue Velvet (1986)', 'Gran Torino (2008)',
       'Beverly Hills Cop (1984)', 'Mortal Kombat (1995)',
       'Fear and Loathing in Las Vegas (1998)', 'The Butterfly Effect (2004)',
       'Pianist, The (2002)'],
      dtype='object', length=500)

In [12]:
# Subset the uset_item_df dataframe by taking only those top 500 titles (columns)

user_item_df = user_item_df[top_500_movies]

user_item_df.head()

title,Forrest Gump (1994),"Shawshank Redemption, The (1994)",Pulp Fiction (1994),"Silence of the Lambs, The (1991)","Matrix, The (1999)",Star Wars: Episode IV - A New Hope (1977),Jurassic Park (1993),Braveheart (1995),Terminator 2: Judgment Day (1991),Schindler's List (1993),...,Basic Instinct (1992),Rumble in the Bronx (Hont faan kui) (1995),Lethal Weapon 3 (1992),Blue Velvet (1986),Gran Torino (2008),Beverly Hills Cop (1984),Mortal Kombat (1995),Fear and Loathing in Las Vegas (1998),The Butterfly Effect (2004),"Pianist, The (2002)"
userId,,,,,,,,,,,,,,,,,,,,,
1,4.0,NaN,3.0,4.0,5.0,5.0,4.0,4.0,NaN,5.0,...,5.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,1.0,5.0,1.0,5.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,4.0,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,3.0,5.0,NaN,NaN,NaN,NaN,4.0,3.0,5.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [14]:
# Reset index to remove the multi-level index

user_item_df = user_item_df.reset_index()

user_item_df.head()

title,userId,Forrest Gump (1994),"Shawshank Redemption, The (1994)",Pulp Fiction (1994),"Silence of the Lambs, The (1991)","Matrix, The (1999)",Star Wars: Episode IV - A New Hope (1977),Jurassic Park (1993),Braveheart (1995),Terminator 2: Judgment Day (1991),...,Basic Instinct (1992),Rumble in the Bronx (Hont faan kui) (1995),Lethal Weapon 3 (1992),Blue Velvet (1986),Gran Torino (2008),Beverly Hills Cop (1984),Mortal Kombat (1995),Fear and Loathing in Las Vegas (1998),The Butterfly Effect (2004),"Pianist, The (2002)"
0,1,4.0,NaN,3.0,4.0,5.0,5.0,4.0,4.0,NaN,...,5.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,NaN,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4,NaN,NaN,1.0,5.0,1.0,5.0,NaN,NaN,NaN,...,NaN,NaN,NaN,4.0,NaN,NaN,NaN,NaN,NaN,NaN
4,5,NaN,3.0,5.0,NaN,NaN,NaN,NaN,4.0,3.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Let's take a quick look at the top rated movies.

In [16]:
avg_ratings = user_item_df.mean().sort_values(ascending=False)

avg_ratings.head(20)

title
userId                                                                         305.500000
Shawshank Redemption, The (1994)                                                 4.429022
Godfather, The (1972)                                                            4.289062
Fight Club (1999)                                                                4.272936
Cool Hand Luke (1967)                                                            4.271930
Dr. Strangelove or: How I Learned to Stop Worrying and Love the Bomb (1964)      4.268041
Rear Window (1954)                                                               4.261905
Godfather: Part II, The (1974)                                                   4.259690
Departed, The (2006)                                                             4.252336
Goodfellas (1990)                                                                4.250000
Casablanca (1942)                                                                4.240000
Dark Knight, The (2008)                                                          4.238255
Usual Suspects, The (1995)                                                       4.237745
Princess Bride, The (1987)                                                       4.232394
Star Wars: Episode IV - A New Hope (1977)                                        4.231076
Schindler's List (1993)                                                          4.225000
Apocalypse Now (1979)                                                            4.219626
American History X (1998)                                                        4.217054
Star Wars: Episode V - The Empire Strikes Back (1980)                            4.215640
Chinatown (1974)                                                                 4.211864
dtype: float64

Let's check the ratings of a specific movie.

In [17]:
avg_ratings[avg_ratings.index.str.contains('Groundhog')]

title
Groundhog Day (1993)    3.944056
dtype: float64

What % of this entire population saw this movie?

In [18]:
user_item_df['Groundhog Day (1993)'].notnull().sum() / len(user_item_df)

0.23442622950819672

How many users have *not* watched this movie?

In [19]:
user_item_df['Groundhog Day (1993)'].isnull().sum()

467

### User-based Collaborative Filtering

Let's randomly choose one user who has not watched *Groundhog Day.* We will then proceed to predict his/her rating for this movie.

In [20]:
target_movie = 'Groundhog Day (1993)'

# First take all users who have not watched this movie

target_users = user_item_df[user_item_df[target_movie].isnull()]

target_users.shape

(467, 501)

In [22]:
target_users

title,userId,Forrest Gump (1994),"Shawshank Redemption, The (1994)",Pulp Fiction (1994),"Silence of the Lambs, The (1991)","Matrix, The (1999)",Star Wars: Episode IV - A New Hope (1977),Jurassic Park (1993),Braveheart (1995),Terminator 2: Judgment Day (1991),...,Basic Instinct (1992),Rumble in the Bronx (Hont faan kui) (1995),Lethal Weapon 3 (1992),Blue Velvet (1986),Gran Torino (2008),Beverly Hills Cop (1984),Mortal Kombat (1995),Fear and Loathing in Las Vegas (1998),The Butterfly Effect (2004),"Pianist, The (2002)"
1,2,NaN,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,NaN,3.0,5.0,NaN,NaN,NaN,NaN,4.0,3.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,6,5.0,5.0,2.0,4.0,NaN,NaN,5.0,5.0,3.0,...,NaN,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,7,5.0,NaN,NaN,5.0,NaN,5.0,5.0,NaN,2.5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,8,3.0,5.0,4.0,4.0,NaN,NaN,4.0,3.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,10,3.5,NaN,1.0,NaN,0.5,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,11,5.0,4.0,NaN,5.0,NaN,NaN,4.0,5.0,4.0,...,NaN,NaN,2.0,NaN,NaN,NaN,2.0,NaN,NaN,NaN
12,13,NaN,NaN,NaN,NaN,5.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,14,4.0,3.0,3.0,4.0,NaN,NaN,3.0,5.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,16,3.5,4.0,3.0,3.0,3.5,3.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,17,5.0,5.0,5.0,4.5,5.0,5.0,4.5,4.5,4.5,...,NaN,NaN,NaN,NaN,NaN,NaN,3.5,NaN,NaN,NaN
17,18,4.5,5.0,4.0,4.5,4.5,4.0,3.5,4.5,4.5,...,NaN,NaN,3.5,NaN,3.5,NaN,NaN,NaN,4.5,4.5
19,20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,22,5.0,5.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,23,NaN,NaN,3.5,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.0,NaN,NaN
24,25,NaN,NaN,NaN,NaN,5.0,5.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,26,3.0,NaN,4.0,4.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,27,5.0,NaN,NaN,NaN,NaN,4.0,4.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,28,4.0,3.5,4.5,2.5,4.0,4.0,2.5,3.5,4.5,...,2.5,NaN,NaN,NaN,4.0,NaN,NaN,2.5,NaN,3.0
28,29,4.5,4.5,3.5,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.0
29,30,NaN,5.0,NaN,NaN,5.0,5.0,NaN,5.0,3.5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31,32,NaN,5.0,5.0,5.0,NaN,5.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32,33,5.0,4.0,5.0,5.0,5.0,NaN,NaN,5.0,4.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33,34,4.0,4.0,NaN,NaN,3.0,NaN,NaN,0.5,3.5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34,35,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35,36,NaN,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN
36,37,4.0,4.0,5.0,5.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37,38,3.0,5.0,3.0,3.0,NaN,NaN,3.0,5.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
567,568,5.0,NaN,4.5,5.0,NaN,NaN,3.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
568,569,3.0,NaN,5.0,NaN,NaN,NaN,4.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
570,571,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
572,573,4.5,4.5,5.0,4.5,5.0,5.0,5.0,5.0,5.0,...,NaN,NaN,NaN,NaN,4.5,NaN,NaN,NaN,NaN,NaN
573,574,NaN,5.0,3.0,5.0,NaN,NaN,NaN,5.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
574,575,NaN,NaN,5.0,NaN,4.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
575,576,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
576,577,5.0,5.0,NaN,4.0,NaN,5.0,5.0,4.0,NaN,...,NaN,NaN,NaN,3.0,NaN,NaN,NaN,NaN,NaN,NaN
577,578,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
578,579,5.0,NaN,NaN,NaN,5.0,NaN,4.0,5.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
579,580,4.0,5.0,5.0,4.5,5.0,4.0,4.0,4.5,4.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.0,3.5,NaN
580,581,4.5,5.0,NaN,NaN,3.5,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.0
581,582,NaN,NaN,NaN,4.0,5.0,4.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
582,583,4.0,NaN,4.0,2.5,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
583,584,5.0,NaN,3.0,4.0,NaN,NaN,5.0,5.0,5.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
584,585,NaN,NaN,5.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,4.0,4.5,NaN,NaN,NaN,2.5,NaN
586,587,4.0,NaN,5.0,NaN,4.0,NaN,NaN,NaN,NaN,...,NaN,NaN,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
587,588,3.0,5.0,5.0,5.0,NaN,NaN,3.0,5.0,3.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
588,589,5.0,5.0,5.0,5.0,NaN,NaN,NaN,NaN,NaN,...,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
590,591,4.0,NaN,NaN,NaN,5.0,5.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
591,592,5.0,4.0,4.0,5.0,NaN,NaN,5.0,5.0,5.0,...,NaN,3.0,NaN,NaN,NaN,NaN,3.0,NaN,NaN,NaN
593,594,NaN,NaN,NaN,5.0,5.0,NaN,5.0,5.0,5.0,...,NaN,NaN,5.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
594,595,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
597,598,NaN,NaN,NaN,0.5,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
600,601,NaN,5.0,NaN,NaN,5.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
601,602,3.0,5.0,5.0,5.0,NaN,5.0,4.0,5.0,5.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
603,604,NaN,NaN,5.0,5.0,NaN,NaN,NaN,3.0,NaN,...,NaN,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
604,605,3.0,NaN,2.0,NaN,NaN,5.0,3.0,3.0,3.5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
605,606,4.0,3.5,5.0,4.5,5.0,4.5,2.5,3.5,3.5,...,3.5,NaN,0.5,NaN,4.5,2.5,NaN,4.0,NaN,4.5
608,609,4.0,4.0,4.0,NaN,NaN,NaN,3.0,3.0,3.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [23]:
# Randomly select one user from this group

target_user = random.sample(list(target_users.index), 1)

target_user

[418]

This is our **target** user, for whom we wish to predict the rating for *Groundhog Day*.

Let's calculate the distance from this user to all other users.

In [26]:
movies_rated_by_target_user = user_item_df[user_item_df['userId'] == target_user].dropna(axis=1)

movies_rated_by_target_user.T

                                                      417
title
userId                                              418.0
Forrest Gump (1994)                                   4.0
Shawshank Redemption, The (1994)                      5.0
Pulp Fiction (1994)                                   4.5
Silence of the Lambs, The (1991)                      4.0
Schindler's List (1993)                               4.5
Fight Club (1999)                                     5.0
Usual Suspects, The (1995)                            4.5
Lord of the Rings: The Fellowship of the Ring, ...    5.0
Lord of the Rings: The Two Towers, The (2002)         5.0
Lord of the Rings: The Return of the King, The ...    5.0
Back to the Future (1985)                             4.5
Mission: Impossible (1996)                            0.5
Memento (2000)                                        3.5
Mask, The (1994)                                      0.5
Die Hard (1988)                                       4.0
Mrs. Doubtfire (1993)                                 3.5
Inception (2010)                                      4.0
Good Will Hunting (1997)                              5.0
Titanic (1997)                                        3.5
Monty Python and the Holy Grail (1975)                5.0
Eternal Sunshine of the Spotless Mind (2004)          5.0
Truman Show, The (1998)                               4.0
Minority Report (2002)                                2.0
Clockwork Orange, A (1971)                            4.5
Green Mile, The (1999)                                4.5
Donnie Darko (2001)                                   5.0
Ferris Bueller's Day Off (1986)                       4.5
Taxi Driver (1976)                                    4.5
Full Metal Jacket (1987)                              4.0
...                                                   ...
Blues Brothers, The (1980)                            5.0
Psycho (1960)                                         4.5
Graduate, The (1967)                                  4.5
Little Miss Sunshine (2006)                           4.5
Face/Off (1997)                                       0.5
Lost in Translation (2003)                            5.0
Slumdog Millionaire (2008)                            4.0
Erin Brockovich (2000)                                3.0
Avengers, The (2012)                                  0.5
Honey, I Shrunk the Kids (1989)                       0.5
Die Hard 2 (1990)                                     4.0
Shutter Island (2010)                                 4.0
School of Rock (2003)                                 3.5
Bridget Jones's Diary (2001)                          0.5
Charlie and the Chocolate Factory (2005)              2.5
Con Air (1997)                                        0.5
King's Speech, The (2010)                             4.5
To Kill a Mockingbird (1962)                          5.0
Harry Potter and the Order of the Phoenix (2007)      3.5
Harry Potter and the Half-Blood Prince (2009)         3.0
Goonies, The (1985)                                   4.0
Social Network, The (2010)                            4.5
Cool Hand Luke (1967)                                 5.0
The Hunger Games (2012)                               4.0
Kung Fu Panda (2008)                                  0.5
Mulholland Drive (2001)                               3.0
The Imitation Game (2014)                             4.5
Harry Potter and the Deathly Hallows: Part 2 (2...    4.5
Sixteen Candles (1984)                                3.5
The Butterfly Effect (2004)                           4.5

[68 rows x 1 columns]

In [27]:
user_item_df.head()

title,userId,Forrest Gump (1994),"Shawshank Redemption, The (1994)",Pulp Fiction (1994),"Silence of the Lambs, The (1991)","Matrix, The (1999)",Star Wars: Episode IV - A New Hope (1977),Jurassic Park (1993),Braveheart (1995),Terminator 2: Judgment Day (1991),...,Basic Instinct (1992),Rumble in the Bronx (Hont faan kui) (1995),Lethal Weapon 3 (1992),Blue Velvet (1986),Gran Torino (2008),Beverly Hills Cop (1984),Mortal Kombat (1995),Fear and Loathing in Las Vegas (1998),The Butterfly Effect (2004),"Pianist, The (2002)"
0,1,4.0,NaN,3.0,4.0,5.0,5.0,4.0,4.0,NaN,...,5.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,NaN,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4,NaN,NaN,1.0,5.0,1.0,5.0,NaN,NaN,NaN,...,NaN,NaN,NaN,4.0,NaN,NaN,NaN,NaN,NaN,NaN
4,5,NaN,3.0,5.0,NaN,NaN,NaN,NaN,4.0,3.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [28]:
# All movies rated by the target user 
rated_movies_by_target_user = movies_rated_by_target_user.columns

# Create a mask to select all users but the target user, and users who have rated the target movie
mask = (user_item_df['userId'] != target_user) & (user_item_df[target_movie].notnull())

# Apply the filter -- take all users ID's that satisfy this criteria
user_search_space = user_item_df[mask]['userId'].values

# Take all users from this search space, and get their ratings for all movies that our target user rated
X = user_item_df[mask][rated_movies_by_target_user].fillna(0)

# Take the target use, and get their ratings for all movies sans the target movie
y = movies_rated_by_target_user

len(X), len(y)

(143, 1)

In [30]:
y.head()

title,userId,Forrest Gump (1994),"Shawshank Redemption, The (1994)",Pulp Fiction (1994),"Silence of the Lambs, The (1991)",Schindler's List (1993),Fight Club (1999),"Usual Suspects, The (1995)","Lord of the Rings: The Fellowship of the Ring, The (2001)","Lord of the Rings: The Two Towers, The (2002)",...,"Goonies, The (1985)","Social Network, The (2010)",Cool Hand Luke (1967),The Hunger Games (2012),Kung Fu Panda (2008),Mulholland Drive (2001),The Imitation Game (2014),Harry Potter and the Deathly Hallows: Part 2 (2011),Sixteen Candles (1984),The Butterfly Effect (2004)
417,418,4.0,5.0,4.5,4.0,4.5,5.0,4.5,5.0,5.0,...,4.0,4.5,5.0,4.0,0.5,3.0,4.5,4.5,3.5,4.5

In [32]:
user_dist = pairwise_distances(X, y, metric='cosine')

user_dist[:10]

array([[0.9127351 ],
       [0.67166026],
       [0.07655944],
       [0.28180598],
       [0.1902599 ],
       [0.24310966],
       [0.13248563],
       [0.03878952],
       [0.07399488],
       [0.07377764]])

Find the use that is "closest" to the target user.

In [33]:
min_dist = [user_dist[user_dist == user_dist.min()]][0][0]

min_dist

0.0005249721548548081

In [34]:
import numpy as np

closest_user = user_search_space[np.argmin(user_dist)]

closest_user

414

In [43]:
user_item_df[user_item_df['userId'] == closest_user].T[:5]

                                    413
title
userId                            414.0
Forrest Gump (1994)                 5.0
Shawshank Redemption, The (1994)    5.0
Pulp Fiction (1994)                 5.0
Silence of the Lambs, The (1991)    4.0

In [38]:
user_item_df[user_item_df['userId'] == target_user].T[:7]

                                             417
title
userId                                     418.0
Forrest Gump (1994)                          4.0
Shawshank Redemption, The (1994)             5.0
Pulp Fiction (1994)                          4.5
Silence of the Lambs, The (1991)             4.0
Matrix, The (1999)                           NaN
Star Wars: Episode IV - A New Hope (1977)    NaN

In [44]:
predicted_rating = user_item_df[user_item_df['userId'] == closest_user][target_movie]

predicted_rating

413    4.0
Name: Groundhog Day (1993), dtype: float64

This is a simple demonstartion of how user-user distance can be used to predict ratings (and recommend movies). This approach can be extended further to improve results.

### Item-based Collaborative Filtering

In [45]:
# List of all movies other than the target movie
all_other_movies = [col for col in user_item_df.columns if col not in (target_movie, 'userId')]

X = user_item_df[all_other_movies].fillna(0)

y = user_item_df[target_movie].fillna(0)

In [52]:
all_other_movies

['Forrest Gump (1994)',
 'Shawshank Redemption, The (1994)',
 'Pulp Fiction (1994)',
 'Silence of the Lambs, The (1991)',
 'Matrix, The (1999)',
 'Star Wars: Episode IV - A New Hope (1977)',
 'Jurassic Park (1993)',
 'Braveheart (1995)',
 'Terminator 2: Judgment Day (1991)',
 "Schindler's List (1993)",
 'Fight Club (1999)',
 'Toy Story (1995)',
 'Star Wars: Episode V - The Empire Strikes Back (1980)',
 'Usual Suspects, The (1995)',
 'American Beauty (1999)',
 'Seven (a.k.a. Se7en) (1995)',
 'Independence Day (a.k.a. ID4) (1996)',
 'Apollo 13 (1995)',
 'Raiders of the Lost Ark (Indiana Jones and the Raiders of the Lost Ark) (1981)',
 'Lord of the Rings: The Fellowship of the Ring, The (2001)',
 'Star Wars: Episode VI - Return of the Jedi (1983)',
 'Godfather, The (1972)',
 'Fugitive, The (1993)',
 'Batman (1989)',
 'Lord of the Rings: The Two Towers, The (2002)',
 'Saving Private Ryan (1998)',
 'Lord of the Rings: The Return of the King, The (2003)',
 'Aladdin (1992)',
 'Fargo (1996)',
 'Sixth Sense, The (1999)',
 'True Lies (1994)',
 'Twelve Monkeys (a.k.a. 12 Monkeys) (1995)',
 'Lion King, The (1994)',
 'Speed (1994)',
 'Back to the Future (1985)',
 'Shrek (2001)',
 'Gladiator (2000)',
 'Men in Black (a.k.a. MIB) (1997)',
 'Dances with Wolves (1990)',
 'Mission: Impossible (1996)',
 'Ace Ventura: Pet Detective (1994)',
 'Memento (2000)',
 'Mask, The (1994)',
 'Pirates of the Caribbean: The Curse of the Black Pearl (2003)',
 'Dark Knight, The (2008)',
 'Alien (1979)',
 'Beauty and the Beast (1991)',
 'Die Hard (1988)',
 'Die Hard: With a Vengeance (1995)',
 'Mrs. Doubtfire (1993)',
 'Inception (2010)',
 'Princess Bride, The (1987)',
 'Good Will Hunting (1997)',
 'Finding Nemo (2003)',
 'Stargate (1994)',
 'Star Wars: Episode I - The Phantom Menace (1999)',
 'Indiana Jones and the Last Crusade (1989)',
 'Titanic (1997)',
 'Batman Forever (1995)',
 'Monty Python and the Holy Grail (1975)',
 'Pretty Woman (1990)',
 'X-Men (2000)',
 'Dumb & Dumber (Dumb and Dumber) (1994)',
 'Léon: The Professional (a.k.a. The Professional) (Léon) (1994)',
 "One Flew Over the Cuckoo's Nest (1975)",
 'GoldenEye (1995)',
 'Monsters, Inc. (2001)',
 'Kill Bill: Vol. 1 (2003)',
 'Reservoir Dogs (1992)',
 'Eternal Sunshine of the Spotless Mind (2004)',
 'Terminator, The (1984)',
 'Godfather: Part II, The (1974)',
 'American History X (1998)',
 'Babe (1995)',
 'Goodfellas (1990)',
 'Aliens (1986)',
 'Truman Show, The (1998)',
 'Incredibles, The (2004)',
 'Blade Runner (1982)',
 'Beautiful Mind, A (2001)',
 'Twister (1996)',
 'E.T. the Extra-Terrestrial (1982)',
 'Spider-Man (2002)',
 'Rock, The (1996)',
 'Austin Powers: The Spy Who Shagged Me (1999)',
 "Amelie (Fabuleux destin d'Amélie Poulain, Le) (2001)",
 'Minority Report (2002)',
 'Ghostbusters (a.k.a. Ghost Busters) (1984)',
 'Clockwork Orange, A (1971)',
 "Ocean's Eleven (2001)",
 'Willy Wonka & the Chocolate Factory (1971)',
 'Home Alone (1990)',
 'Batman Begins (2005)',
 'Fifth Element, The (1997)',
 'Waterworld (1995)',
 'Catch Me If You Can (2002)',
 'Ghost (1990)',
 'Breakfast Club, The (1985)',
 'Net, The (1995)',
 'Bourne Identity, The (2002)',
 'Green Mile, The (1999)',
 'Jumanji (1995)',
 'Clear and Present Danger (1994)',
 'Crouching Tiger, Hidden Dragon (Wo hu cang long) (2000)',
 'Kill Bill: Vol. 2 (2004)',
 'Donnie Darko (2001)',
 'Interview with the Vampire: The Vampire Chronicles (1994)',
 "Ferris Bueller's Day Off (1986)",
 'Shining, The (1980)',
 '2001: A Space Odyssey (1968)',
 'Indiana Jones and the Temple of Doom (1984)',
 'Star Trek: Generations (1994)',
 "Harry Potter and the Sorcerer's Stone (a.k.a. Harry Potter and the Philosopher's Stone) (2001)",
 'Departed, The (2006)',
 'Apocalypse Now (1979)',
 'Sleepless in Seattle (1993)',
 'Big Lebowski, The (1998)',
 'Up (2009)',
 "There's Something About Mary (1998)",
 'Clueless (1995)',
 'Clerks (1994)',
 'Taxi Driver (1976)',
 'WALL·E (2008)',
 'American Pie (1999)',
 'Crimson Tide (1995)',
 'Four Weddings and a Funeral (1994)',
 'Heat (1995)',
 'Full Metal Jacket (1987)',
 'Trainspotting (1996)',
 'Harry Potter and the Chamber of Secrets (2002)',
 'Cliffhanger (1993)',
 'Firm, The (1993)',
 'Outbreak (1995)',
 'Casablanca (1942)',
 'Austin Powers: International Man of Mystery (1997)',
 'Cast Away (2000)',
 'V for Vendetta (2006)',
 'Being John Malkovich (1999)',
 'Happy Gilmore (1996)',
 'While You Were Sleeping (1995)',
 'L.A. Confidential (1997)',
 'Toy Story 2 (1999)',
 'Who Framed Roger Rabbit? (1988)',
 'Avatar (2009)',
 'Dr. Strangelove or: How I Learned to Stop Worrying and Love the Bomb (1964)',
 'Matrix Reloaded, The (2003)',
 'Requiem for a Dream (2000)',
 'Rain Man (1988)',
 'As Good as It Gets (1997)',
 'O Brother, Where Art Thou? (2000)',
 'Office Space (1999)',
 'Iron Man (2008)',
 'Harry Potter and the Prisoner of Azkaban (2004)',
 'Nightmare Before Christmas, The (1993)',
 'Snatch (2000)',
 'Wizard of Oz, The (1939)',
 'Armageddon (1998)',
 'Star Wars: Episode II - Attack of the Clones (2002)',
 'Shakespeare in Love (1998)',
 'Natural Born Killers (1994)',
 'Shrek 2 (2004)',
 "Bug's Life, A (1998)",
 'Meet the Parents (2000)',
 'Stand by Me (1986)',
 'Big (1988)',
 'Beetlejuice (1988)',
 'Star Trek: First Contact (1996)',
 'Jaws (1975)',
 'Prestige, The (2006)',
 'Hunt for Red October, The (1990)',
 'Get Shorty (1995)',
 "Monty Python's Life of Brian (1979)",
 'Life Is Beautiful (La Vita è bella) (1997)',
 'Back to the Future Part III (1990)',
 'Total Recall (1990)',
 'Inglourious Basterds (2009)',
 'Ace Ventura: When Nature Calls (1995)',
 'Mummy, The (1999)',
 'Back to the Future Part II (1989)',
 'Spirited Away (Sen to Chihiro no kamikakushi) (2001)',
 'Airplane! (1980)',
 'Dead Poets Society (1989)',
 'Gattaca (1997)',
 'Birdcage, The (1996)',
 'Mars Attacks! (1996)',
 'Jerry Maguire (1996)',
 'Ice Age (2002)',
 'When Harry Met Sally... (1989)',
 'Broken Arrow (1996)',
 'Sin City (2005)',
 'Blues Brothers, The (1980)',
 'Rear Window (1954)',
 'Addams Family Values (1993)',
 'Top Gun (1986)',
 'Almost Famous (2000)',
 'Psycho (1960)',
 'Nutty Professor, The (1996)',
 'Contact (1997)',
 'Casino (1995)',
 'Santa Clause, The (1994)',
 "Pan's Labyrinth (Laberinto del fauno, El) (2006)",
 'Quiz Show (1994)',
 'Bourne Ultimatum, The (2007)',
 'Demolition Man (1993)',
 'Casino Royale (2006)',
 'Edward Scissorhands (1990)',
 'Starship Troopers (1997)',
 "Mr. Holland's Opus (1995)",
 '300 (2007)',
 'Graduate, The (1967)',
 'Spider-Man 2 (2004)',
 'Matrix Revolutions, The (2003)',
 'Dogma (1999)',
 'Star Wars: Episode III - Revenge of the Sith (2005)',
 'Chicken Run (2000)',
 'Game, The (1997)',
 'Little Miss Sunshine (2006)',
 "What's Eating Gilbert Grape (1993)",
 'Shaun of the Dead (2004)',
 'Face/Off (1997)',
 'Snow White and the Seven Dwarfs (1937)',
 'Mission: Impossible II (2000)',
 'Dark Knight Rises, The (2012)',
 'Amadeus (1984)',
 'Dave (1993)',
 'Leaving Las Vegas (1995)',
 'X2: X-Men United (2003)',
 'Hangover, The (2009)',
 'South Park: Bigger, Longer and Uncut (1999)',
 'Galaxy Quest (1999)',
 'City of God (Cidade de Deus) (2002)',
 'Lethal Weapon (1987)',
 'High Fidelity (2000)',
 'Run Lola Run (Lola rennt) (1998)',
 'Bourne Supremacy, The (2004)',
 'Lost in Translation (2003)',
 '40-Year-Old Virgin, The (2005)',
 'Liar Liar (1997)',
 'Maverick (1994)',
 'Interstellar (2014)',
 'Unbreakable (2000)',
 "Pirates of the Caribbean: Dead Man's Chest (2006)",
 "Charlie's Angels (2000)",
 'Ratatouille (2007)',
 'Good, the Bad and the Ugly, The (Buono, il brutto, il cattivo, Il) (1966)',
 'Fish Called Wanda, A (1988)',
 'Bruce Almighty (2003)',
 'Django Unchained (2012)',
 'Harry Potter and the Goblet of Fire (2005)',
 'Slumdog Millionaire (2008)',
 'Mary Poppins (1964)',
 'Traffic (2000)',
 'Scream (1996)',
 'Ed Wood (1994)',
 'Erin Brockovich (2000)',
 'In the Line of Fire (1993)',
 'American President, The (1995)',
 'RoboCop (1987)',
 'Citizen Kane (1941)',
 'Big Fish (2003)',
 'Robin Hood: Men in Tights (1993)',
 'Avengers, The (2012)',
 'Young Frankenstein (1974)',
 'Grease (1978)',
 'Pocahontas (1995)',
 'Honey, I Shrunk the Kids (1989)',
 'Die Hard 2 (1990)',
 'Patriot, The (2000)',
 'Legends of the Fall (1994)',
 'Royal Tenenbaums, The (2001)',
 'Lost World: Jurassic Park, The (1997)',
 'Shutter Island (2010)',
 'Little Mermaid, The (1989)',
 'Lock, Stock & Two Smoking Barrels (1998)',
 'Scarface (1983)',
 'Sense and Sensibility (1995)',
 'Enemy of the State (1998)',
 'Dead Man Walking (1995)',
 'Philadelphia (1993)',
 'Desperado (1995)',
 'School of Rock (2003)',
 'This Is Spinal Tap (1984)',
 "Bridget Jones's Diary (2001)",
 'True Romance (1993)',
 'Dragonheart (1996)',
 'Austin Powers in Goldmember (2002)',
 'Untouchables, The (1987)',
 'Tombstone (1993)',
 'Juno (2007)',
 'District 9 (2009)',
 'Borat: Cultural Learnings of America for Make Benefit Glorious Nation of Kazakhstan (2006)',
 'Blair Witch Project, The (1999)',
 'Legally Blonde (2001)',
 'Eraser (1996)',
 'Children of Men (2006)',
 'No Country for Old Men (2007)',
 'Crow, The (1994)',
 'Sound of Music, The (1965)',
 'Sting, The (1973)',
 'Rocky (1976)',
 'Miss Congeniality (2000)',
 'Platoon (1986)',
 'Signs (2002)',
 'Rocky Horror Picture Show, The (1975)',
 'Coneheads (1993)',
 'Blazing Saddles (1974)',
 'Sleepy Hollow (1999)',
 'Animal House (1978)',
 'Star Trek II: The Wrath of Khan (1982)',
 'I Am Legend (2007)',
 'Abyss, The (1989)',
 'Chronicles of Narnia: The Lion, the Witch and the Wardrobe, The (2005)',
 'Judge Dredd (1995)',
 'Last Samurai, The (2003)',
 'Butch Cassidy and the Sundance Kid (1969)',
 'Casper (1995)',
 'Pleasantville (1998)',
 'Men in Black II (a.k.a. MIIB) (a.k.a. MIB 2) (2002)',
 'Three Musketeers, The (1993)',
 'Hot Fuzz (2007)',
 "Wayne's World (1992)",
 'I, Robot (2004)',
 'Predator (1987)',
 'Gone in 60 Seconds (2000)',
 'Piano, The (1993)',
 'Charlie and the Chocolate Factory (2005)',
 'Superman (1978)',
 'Pinocchio (1940)',
 'Mask of Zorro, The (1998)',
 'Vertigo (1958)',
 'Close Encounters of the Third Kind (1977)',
 'My Big Fat Greek Wedding (2002)',
 'Batman Returns (1992)',
 'Hot Shots! Part Deux (1993)',
 'American Psycho (2000)',
 'My Cousin Vinny (1992)',
 'Mr. & Mrs. Smith (2005)',
 'Italian Job, The (2003)',
 'Con Air (1997)',
 'Beverly Hills Cop III (1994)',
 'Star Trek (2009)',
 'Guardians of the Galaxy (2014)',
 'Chinatown (1974)',
 'Grosse Pointe Blank (1997)',
 'Brazil (1985)',
 'Spaceballs (1987)',
 'Love Actually (2003)',
 "King's Speech, The (2010)",
 'Air Force One (1997)',
 'Raising Arizona (1987)',
 'To Kill a Mockingbird (1962)',
 'Annie Hall (1977)',
 '28 Days Later (2002)',
 'Wedding Crashers (2005)',
 'Sherlock Holmes (2009)',
 "It's a Wonderful Life (1946)",
 'Harry Potter and the Order of the Phoenix (2007)',
 'Truth About Cats & Dogs, The (1996)',
 'Naked Gun 33 1/3: The Final Insult (1994)',
 'Bowling for Columbine (2002)',
 'Harry Potter and the Half-Blood Prince (2009)',
 'Blade (1998)',
 'Anchorman: The Legend of Ron Burgundy (2004)',
 'Goonies, The (1985)',
 '12 Angry Men (1957)',
 'North by Northwest (1959)',
 'Social Network, The (2010)',
 'Congo (1995)',
 'Cool Hand Luke (1967)',
 'Crocodile Dundee (1986)',
 'Few Good Men, A (1992)',
 'Client, The (1994)',
 'Rushmore (1998)',
 'Wedding Singer, The (1998)',
 'Field of Dreams (1989)',
 "Pirates of the Caribbean: At World's End (2007)",
 'Notting Hill (1999)',
 'A.I. Artificial Intelligence (2001)',
 'Wallace & Gromit: The Wrong Trousers (1993)',
 'Planet of the Apes (1968)',
 'Full Monty, The (1997)',
 'Election (1999)',
 "City Slickers II: The Legend of Curly's Gold (1994)",
 'Toy Story 3 (2010)',
 'Moulin Rouge (2001)',
 'Superbad (2007)',
 'From Dusk Till Dawn (1996)',
 'Others, The (2001)',
 'Gangs of New York (2002)',
 'Christmas Story, A (1983)',
 'Lady and the Tramp (1955)',
 'The Hunger Games (2012)',
 'Romancing the Stone (1984)',
 'Zoolander (2001)',
 'Wolf of Wall Street, The (2013)',
 'What Women Want (2000)',
 'Deadpool (2016)',
 'Cable Guy, The (1996)',
 '10 Things I Hate About You (1999)',
 'Kung Fu Panda (2008)',
 'Sabrina (1995)',
 'First Knight (1995)',
 'Space Jam (1996)',
 'Blood Diamond (2006)',
 'Exorcist, The (1973)',
 'How to Train Your Dragon (2010)',
 'Goldfinger (1964)',
 'Last Action Hero (1993)',
 'Best in Show (2000)',
 'Zombieland (2009)',
 'Wild Wild West (1999)',
 'Hook (1991)',
 'Arachnophobia (1990)',
 'Fantasia (1940)',
 'Johnny Mnemonic (1995)',
 'Jungle Book, The (1967)',
 'Eyes Wide Shut (1999)',
 'X-Men: The Last Stand (2006)',
 'Caddyshack (1980)',
 'Disclosure (1994)',
 'Million Dollar Baby (2004)',
 'Chasing Amy (1997)',
 'Grand Budapest Hotel, The (2014)',
 'Donnie Brasco (1997)',
 'Knocked Up (2007)',
 'Magnolia (1999)',
 'War of the Worlds (2005)',
 'Mystic River (2003)',
 'Grumpier Old Men (1995)',
 "The Devil's Advocate (1997)",
 'Blow (2001)',
 'Training Day (2001)',
 'Mulholland Drive (2001)',
 'Army of Darkness (1993)',
 'Splash (1984)',
 'Bad Boys (1995)',
 'Some Like It Hot (1959)',
 'The Imitation Game (2014)',
 'Skyfall (2012)',
 'Scary Movie (2000)',
 'Crash (2004)',
 'Tron (1982)',
 'Tommy Boy (1995)',
 'Serenity (2005)',
 'Day After Tomorrow, The (2004)',
 'Black Hawk Down (2001)',
 'Harry Potter and the Deathly Hallows: Part 2 (2011)',
 "You've Got Mail (1998)",
 'Super Size Me (2004)',
 'Road to Perdition (2002)',
 'Superman II (1980)',
 'Chicago (2002)',
 'James and the Giant Peach (1996)',
 'Da Vinci Code, The (2006)',
 'Father of the Bride Part II (1995)',
 'Talented Mr. Ripley, The (1999)',
 'Planet of the Apes (2001)',
 'Sixteen Candles (1984)',
 'Billy Madison (1995)',
 'Garden State (2004)',
 'Highlander (1986)',
 'Princess Mononoke (Mononoke-hime) (1997)',
 'Troy (2004)',
 'Hotel Rwanda (2004)',
 'Big Daddy (1999)',
 'Thomas Crown Affair, The (1999)',
 'Jackie Brown (1997)',
 'The Martian (2015)',
 'Seven Samurai (Shichinin no samurai) (1954)',
 'Wallace & Gromit: A Close Shave (1995)',
 'Dark City (1998)',
 'Nine Months (1995)',
 'Iron Man 2 (2010)',
 'Ghostbusters II (1989)',
 'Ring, The (2002)',
 'Mad Max: Fury Road (2015)',
 'Alien³ (a.k.a. Alien 3) (1992)',
 'Lethal Weapon 2 (1989)',
 'Chocolat (2000)',
 "Singin' in the Rain (1952)",
 'Terminal, The (2004)',
 'Sling Blade (1996)',
 '101 Dalmatians (1996)',
 '50 First Dates (2004)',
 'Hunchback of Notre Dame, The (1996)',
 'Pi (1998)',
 'Poltergeist (1982)',
 'Harry Potter and the Deathly Hallows: Part 1 (2010)',
 'Analyze This (1999)',
 'Basic Instinct (1992)',
 'Rumble in the Bronx (Hont faan kui) (1995)',
 'Lethal Weapon 3 (1992)',
 'Blue Velvet (1986)',
 'Gran Torino (2008)',
 'Beverly Hills Cop (1984)',
 'Mortal Kombat (1995)',
 'Fear and Loathing in Las Vegas (1998)',
 'The Butterfly Effect (2004)',
 'Pianist, The (2002)']

In [46]:
item_dist = pairwise_distances(X.T, y.values.reshape(-1,610), metric='cosine')

item_dist[:10]

array([[0.4774823 ],
       [0.50736902],
       [0.52567167],
       [0.53229855],
       [0.46384951],
       [0.43052535],
       [0.52281557],
       [0.59504138],
       [0.54181274],
       [0.55983412]])

In [53]:
min_item_dist = [item_dist[item_dist == item_dist.min()]][0][0]

min_item_dist

0.38764197403915945

In [54]:
# List of all movies sorted by distance (shortest first)

[title for d, title in sorted(zip(item_dist, all_other_movies))][:10]

['Back to the Future (1985)',
 'Monty Python and the Holy Grail (1975)',
 'Men in Black (a.k.a. MIB) (1997)',
 'Princess Bride, The (1987)',
 "Ferris Bueller's Day Off (1986)",
 'Being John Malkovich (1999)',
 'Ghostbusters (a.k.a. Ghost Busters) (1984)',
 'Star Wars: Episode VI - Return of the Jedi (1983)',
 'Indiana Jones and the Last Crusade (1989)',
 'Star Wars: Episode IV - A New Hope (1977)']

In [55]:
closest_item = all_other_movies[np.argmin(item_dist)]

closest_item

'Back to the Future (1985)'

Calculate the averate rating for this title. This will become our predicted rating for *Groundhog Day*.

In [56]:
predicted_rating_2 = user_item_df[closest_item].mean()

round(predicted_rating_2, 1)

4.0

This is a simple demonstartion of how item-item distance can be used to predict ratings (and recommend movies). This approach can be extended further to improve results.